*{
  font-family: 'Courier New', Courier, monospace;
}
.container {
  display: flex;
  padding-left: 10px;
}

a {
  list-style: none;
  text-decoration: none;

}

.buttons a {
  padding: 10px;
  border-radius: 8px;
  color: white;
  background-color: rgb(79, 79, 255);
  margin: 4px;

}

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  padding: 20px;
}

.buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex;
  width: 50vw;
}

.form {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}
